<!doctype html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>
		Советский архив {% block title %}{% endblock %}
	</title>
	<link href="/static/main.css" type="text/css" rel="stylesheet"/>
	<link rel="icon" href="/static/favicon.png" type="image/x-icon"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>

<body style="background: #260808 url(/static/waves.jpg); background-attachment:fixed;">

<!--
<body>
-->

<div id="everything">

<div  class="path">
<table border=0 cellspacing=0 cellpadding=0><tr><td width="100%" valign="bottom">
	<h2>
		<a href="/">
			<img src="/static/crash.png" style="border:none; margin-left:0px;">
		</a>
		<span class="text" style="">
			{#
			{% block category %}<img src="/static/years.png">{% endblock %}
			#}
			{% block category %}1965&ndash;1985{% endblock %}
		</span>
	</h2>
</td><td valign="bottom">
	{% block search_link %}
	<h2><a class="text" href="/search.html">Поиск</a></h2>
	{% endblock %}
</td></tr></table>
</div>

{% block main %}{% endblock %}

<div class="footer">
	<p>	2012—... <a href="mailto:arkiv@yandex.ru">arkiv@yandex.ru</a>
		| <a href="/comments.html">сообщить</a>
		| <a href="/updates.html">обновления</a>
		| <a href="/search.html">поиск</a>
{% if not scg.is_production() %}
		| <a href="http://metrika.yandex.ru/stat/dashboard/?counter_id=16741039">статистика</a>
{% endif %}
	<p> Расшифровка. EP, 000, С62, Г62, М62 — миньоны 7". LP, С60, М30 — гиганты 12".
	<p>	Сайт создан исключительно для ознакомления россиян с культурным наследием своей страны
		и не преследует целей заработка.
		После прослушивания данных музыкальных материалов пользователь обязан удалить их
		со своих устройств и скататься на барахолку за оригиналами.
	<p style="display:none;">
		Всего здесь {{scg.total_size|format_size}}.
	{#
	<p>	Копирайты релизеров по возможности сохранены. Спасибы: 
		skameikin, limonka, tkonst-fm, parazita kusok, nikanuf, mvaleryi, oplombee, sssrviapesni,
		samopal&nbsp;records, jazoman, andy, koloboga, gar-kir, stojak, юрий&nbsp;1963,
		plastinka, sertse, ollleg, sergjazz, gavic, svarnoy, adey, sphere,
		manfred06, tatyko, gosha-k, luckless, yurich,
		dingo, valdas, andris, оборотень,
		m.&thinsp;joela, k.&thinsp;jansen, baran&nbsp;records, weedska, funkofun, mr.&thinsp;and-7,
		многим другим и себе тоже.
	#}
	<p> Высококачественные рипы пластинок — сайт <a href="http://plastinka.org/" target="_blank">plastinka.org</a>

	<!--
	<p>	<center>
			<a href="http://vk.com/share.php?url=http%3A%2F%2Farkiv.narod.ru&title=Soviet%20Archives"><img src="/static/vk.png"></a>
			<a href="http://www.facebook.com/sharer/sharer.php?src=sp&u=http%3A%2F%2FFarkiv.narod.ru&t=Sovuet%20Archives"><img src="/static/fb.png"></a>
			<a href="https://twitter.com/intent/tweet?status=Soviet%20archives%20http%3A%2F%2Farkiv.narod.ru"><img src="/static/tw.png"></a>
		</center>
	-->
</div>

</div>

</body>
