{% extends "admin-base.html" %}

{% block main %}

<script>
function selected(select) {
	var value = select.value
	var form = select.parentNode
	if(value) {
		//alert(value + '/' + form)
		form.submit()
	}
}
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Task');
		data.addColumn('number', 'Hours per Day');
		data.addRows({{ tags|length }});
		{% for tag in tags %}
			data.setValue({{ forloop.counter0 }}, 0, "{{ tag.name }}");
			data.setValue({{ forloop.counter0 }}, 1, {{ tag.counter }});
		{% endfor %}
		var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
		chart.draw(data, {width: 450, height: 300, title: "Distribution by {{current_category}}"});
	}
</script>

<h1>Manage tags</h1>

<p>Tags categorized as "{{ current_category }}"

<p>Categories:
{% for cat in categories %}
	<a href="tags?category={{ cat }}">'{{ cat }}'</a>,
{% endfor %}

<div id="chart_div" style="position:absolute; left:500px; top:193px;"></div>

<p>

{% for tag in tags %}
	<form method="POST" action="{{ current_path }}">
		<select name="new_category" onchange="selected(this)">
			<option></option>
			<option>artist</option>
			<option>composer</option>
			<option>genre</option>
			<option>region</option>
			<option>time</option>
			<option>ensemble</option>
			<option>vocalist</option>
			<option>jazz</option>
			<option>modern</option>
			<option>misc</option>
		</select>
		<input type="hidden" name="tag" value="{{ tag.name }}">
		<input type="hidden" name="return_path" value="{{ current_path }}">
		<a href="/tag/{{ tag.name }}" target="_blank">{{ tag.name }}</a> {{ tag.counter }}
	</form>
{% endfor%}

{% endblock %}