body {
	background: white;
	margin: 0 0 0 0;
}
p {
	color: #000;
	/*border: 1px solid lightgrey;*/
	/*background: #eee;*/
	margin: 0 0 0.6em 0;
	line-height: 130%;
}

a         { color: #00a !important; }
a:visited { color: #838 !important; }
a:hover   { color: #f33 !important; }

.top {
	/*background-color: #6EC6FE;
	background-image: url(volna-top.png);
	background-position: bottom;
	background-repeat: repeat-x;*/
	padding-top: 10px;
	margin-bottom: 0.7em;
}
.top h1 {
	margin: 0 0 0 0;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 130%;
	font-weight: normal;
	
	font-family: 'Segoe UI', 'Segoe UI Light', 'Segoe Light', sans-serif !important;
	font-weight: 100;
	
	/*
	position: relative;
	height: 20px;
	overflow: hidden;
	*/
	/*
	text-indent: -9999px;
	background: url("/static/h1.png") #6EC6FE no-repeat;
	background: url("/static/856ce8af31a517b3bb37206b95bedd.png") #6EC6FE no-repeat;
	background-position: bottom left;
	background-repeat: no-repeat;
	*/
}
.top h1 span {
	position: absolute;
	background: url("/static/856ce8af31a517b3bb37206b95bedd.png");
	background-repeat: no-repeat;
	width: 250px;
	height: 100%;
}
.top h1 a {
	color: black !important;
}
.top h1 sup {
	font-size: 60%;
}
/*h2 {
	margin-top:0;
	text-indent: -9999px;
	background: url("h2.png") white no-repeat;
	background-position: bottom left;
	background-repeat: no-repeat;
}*/

/*h2 {
	width: 100%;
	height: 35px;
	position: relative;
	margin: 0 0 0.2em 0;
	vertical-align: bottom;
}
h2 span {
	background: url(/font?text=Raimonds+Pauls+/+Раймонд+Паулс+1972) no-repeat, url(white.png) repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}*/

.about {
	font-size: 82%;
	margin-top: 0.5em !important;
}
.about a {
	color: black;
}
.about a:hover {
	color: #e22;
}

/* contains panes: main and both sidebars */
.below-top { margin-top: 1.5em; }


div.article {
	margin-bottom: 3em;
}


/* sidebars */
.sidebar-panel {
	font-size: 14px;
	margin-top: 0.29em; /* w/out that sidebars looks above the main content because of smaller font */
}
.sidebar-tags {
	font-size: 14px;
}
.sidebar-tags ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0 0 0.8em 0;
}
.sidebar-tags ul li {
	margin-bottom: 0.25em;
}
.sidebar-tags ul li span {
	font-size: 75%;
	color: #333;
}
.sidebar-tags ul li.title {
	font-style: normal;
}
.sidebar-tags .group {
	margin-bottom: 10px;
}

.sidebar-links { }
/*
.sidebar-links { color: lightgrey !important; }
.sidebar-links p { color: lightgrey !important; }
.sidebar-links a { color: lightgrey !important; text-decoration: none;}
.sidebar-links:hover { color: black !important; }
.sidebar-links:hover p { color: black !important; }
.sidebar-links:hover a { color: blue !important; text-decoration: underline; }
.sidebar-links:hover a:hover { }
*/


.tracks { font-size: 14px; }
.info { font-size: 14px; font-style: italic; }
.download {
	font-size: 85%;
	overflow: hidden;
	white-space:nowrap;
}
.red  { background: red; }
.blue { background: blue; }
.article-meta {
	margin: 0em;
	font-size: 85%;
	/*margin-left: 2em;*/
}
input.search { width:97%; font-style:italic; font-family: serif; }

div.comment {
	margin-bottom: 1em !important;
}
div.comment p {
	line-height: 1.4em;
	margin-bottom: 0.6em;
}

.comment-administration {
  font-size: 80%;
  margin-bottom: 0.4em;
}
.comment-administration a {
  color: grey;
  /*text-decoration: none;
  border-width: 1px;
  border-bottom-style: dashed;*/
}
.comment-administration a:hover { color: red; }



/* css for headers replaced with images */
/*.below-top h1 {
	width: 100%;
	height: 35px;
	position: relative;
	margin: 0 0 0.2em 0;
	vertical-align: bottom;
	font-size: 140%;
}
.below-top h1 span {
	background-repeat: no-repeat, repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}*/

.below-top h1 {
	margin: 0 0 0.2em 0;
	vertical-align: bottom;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 140%;
	
	font-family: 'Segoe UI', 'Segoe UI Light', 'Segoe Light', sans-serif !important;
	font-weight: 100;
	font-size: 140%;
	letter-spacing: 0px;
	text-transform: uppercase;
}
.below-top h1 a {
	color: black !important;
	text-decoration: none !important;
}
.below-top h1 a:hover {
	color: red !important;
	text-decoration: none !important;
}

.bottom {
	margin-top: 3em;
}