.theWidth { width:-20px; }
.column-mixin {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
}
.width_1 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:60px;
}
.width_2 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:140px;
}
.width_3 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:220px;
}
.width_4 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:300px;
}
.width_5 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:380px;
}
.width_6 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:460px;
}
.width_7 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:540px;
}
.width_8 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:620px;
}
.width_9 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:700px;
}
.width_10 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:780px;
}
.width_11 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:860px;
}
.width_12 {
  margin:0 10px;
  overflow:hidden;
  float:left;
  display:inline;
  width:940px;
}
.row {
  width:960px;
  margin:0 auto;
  overflow:hidden;
}
.row .row {
  margin:0 -10px;
  width:auto;
  display:inline-block;
}