{% extends "base.html" %}

{% block title %}
/ {{ album.title }}
{% endblock %}

{% block category %}
/ <a href="/{{category}}.html">{{category_title}}</a>
{% endblock %}

{% block main %}

<h1>{{ album.title_short|typo }}</h1>

<div class="columns">
	<div class="left">
		<!--
		<img src="/static/generic.jpg" width="200">
		-->
		<img src="{{album.cover_url}}" width="200">
		
		<p>	<audio controls style="width:200px">
				<source src="/previews/{{album.album_hash}}.ogg"/>
				Your browser does not support audio tag.
			</audio>
		</p>
		
	</div>
	<div class="right">
		<ul>
		{% for track in album.tracks %}
			<li>{{ track.file_name|typo }}
		{% endfor %}
		</ul>
		
{% if album.cat_no %}
		<p>
			<small>{{ album.cat_no }}</small>
		</p>
{% endif %}
			
		<p>	<a href="{{ album.url }}">Скачать</a>
			{{ album.audio_format|upper }}
{% if album.audio_format == 'flac' %}
			{{ album.tracks[0].bits_per_sample }}/{{ album.tracks[0].khz }},
{% else %}
			{{ album.tracks[0].bit_rate }} kbps,
{% endif %}
			{{ album.total_size | format_size_mb }} MB
		</p>
	</div>
</div>

{% endblock main %}