{% extends "base.html" %}

{% block main %}

	<p>Сайт периодически пополняется. Последний раз это случилось {{up_date.strftime('%Y-%m-%d')}}.

	<p>Прошу сообщать о серьёзных ошибках, таких как:<br>
		— отсутствие какой либо страницы,<br>
		— архив не найден или был удалён,<br>
		— несоответствие содержимого архива странице с которой он был скачан.

	<ol class="lotta_links">
	{% for cat in cats %}
		<li><a href="/{{cat.name}}.html">{{cat.title}} ({{cat.count}})</a></li>
	{% endfor %}
	</ol>

	{% if scg.is_production() %}
	{% include 'disqus.html' %}
	{% endif %}
        
{% endblock main %}