<div class="article">

{% if not article.pinned or single_article %}
		<h1 class="{{article.published_class}}">
			{% if single_article %}
				<span></span>
				{{ article.title|typographus|escape }}
			{% else %}
				<a href="{{article.path}}">
					<span></span>
					{{ article.title|typographus }}</a>
			{% endif %}
{#
{% if user_info.is_admin %}
            <a href="/admin/article/edit/{{article.id}}?from={{current_path}}">
                <img src="/static/edit16.png" alt="[edit]" border="0">
            </a>
{% endif %}
#}
        </h1>
{% endif %}

		{% if article.complex_html.named %}
			{% include "article-clever.html" %}
		{% else %}
	    	{% for p in article.complex_html.rest %}
			<p>{{ p|typographus|safe|escape }}</p>
			{% endfor %}
		{% endif %}

{#
{% if article.related_articles %}
		<div class="see-also">
		Related articles:
		<ul>
		{% for a in article.related_articles %}
			<li>— <a href="/{{a.meta.slug}}.html">{{ a.meta.title }}</a></li>
		{% endfor%}
		</ul>
		</div>
{% endif %}
#}

{% if article.related_articles %}
		<div class="row see-also">
			<div class="width_1">
				<p>See also:</p>
			</div>
			<div class="width_7">
				<ul>
				{% for a in article.related_articles %}
					<li><a href="/{{a.meta.slug}}.html">{{ a.meta.title }}</a></li>
				{% endfor%}
				</ul>
			</div>
		</div>
{% endif %}
		
{% if not article.pinned %}
	    <!--p class="article-meta">
	    	{# F j, Y #}
			<span title="{{ article.published_date.strftime('%Y-%m-%d %H:%M:%S %Z') }}">
				{{ article.published_date.strftime('%B %d, %Y') }}</span>
		</p-->
		<table border=0 cellspacing=0 cellpadding=0 width="100%" class="article-meta"><tr><td valign=top width="100%">
			<p class="article-meta">
	    	{# F j, Y #}
			<span title="{{ article.published_date.strftime('%Y-%m-%d %H:%M:%S %Z') }}">
				{{ article.published_date.strftime('%B %d, %Y') }}</span>
			<img src="{{'tag-45-2.gif'|static_resource}}">
			{% for tag in article.tags %}
				<a href="/tag/{{tag}}.html" class="tag">{{tag}}</a>
			{% endfor %}
			</p>
			</td><td valign=top nowrap>
{#
{% if single_article %}
#}
				<a href="https://twitter.com/intent/tweet?status={{article.title|urlencode}}%20{{article.url|urlencode}}" onclick="return share_popup(this.href);" title="Tweet"
                    ><img src="{{'tw.png'|static_resource}}" alt="Tweet"></a>
				<a href="http://www.facebook.com/sharer/sharer.php?src=sp&u={{article.url|urlencode}}&t={{article.title|urlencode}}" onclick="return share_popup(this.href);" title="Share in Facebook"
                        ><img src="{{'fb.png'|static_resource}}" alt="Share in Facebook"></a>
				<a href="http://vk.com/share.php?url={{article.url|urlencode}}&title={{article.title|urlencode}}" onclick="return share_popup(this.href);" title="Поделиться ВКонтакте"
                        ><img src="{{'vk.png'|static_resource}}" alt="Поделиться ВКонтакте"></a>
{#
{% endif %}
#}
		</td></tr></table>
	    
{% endif %}

{#
{% if single_article %}
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter"></div>
{% endif %}
#}

{% if single_article and defs.COMMENTS_SHOW %}
	&nbsp;<br>
	{% include "comments-my.html" %}
{% endif %}

</div>