<div class="article">

{% if not article.pinned or single_article %}
		<h1 class="{{article.published_class}}">
			{% if single_article %}
				<span></span>
				{{ article.title|typographus|escape }}
			{% else %}
				<a href="{{article.path}}">
					<span></span>
					{{ article.title|typographus }}</a>
			{% endif %}
{#
{% if user_info.is_admin %}
            <a href="/admin/article/edit/{{article.id}}?from={{current_path}}">
                <img src="/static/edit16.png" alt="[edit]" border="0">
            </a>
{% endif %}
#}
        </h1>
{% endif %}

		{% if article.complex_html.named %}
			{% include "article-clever.html" %}
		{% else %}
	    	{% for p in article.complex_html.rest %}
			<p>{{ p|typographus|safe|escape }}</p>
			{% endfor %}
		{% endif %}
		
{% if not article.pinned %}
	    <p class="article-meta">
	    	{# F j, Y #}
			<span title="{{ article.published_date.strftime('%Y-%m-%d %H:%M:%S %Z') }}">
				{{ article.published_date.strftime('%B %d, %Y') }}</span>
		</p>
		<p class="article-meta">
			Tags:
			{% for tag in article.tags %}
				<a href="/tag/{{tag}}.html" class="tag">{{tag}}</a>
			{% endfor %}
	    </p>
{% endif %}

{% if single_article %}
	&nbsp;<br>
	{% include "comments-my.html" %}
{% endif %}

</div>