{% extends "base.html" %}

{% block title %}
Archive - {{blog_name}}
{% endblock%}

{% block main %}
  <span class="heading">Complete Archive:</span>
  {% if articles %}
    <ul>
    {% for article in articles %}
      <li>
        <a href="/admin/article/edit/{{article.id}}?from={{current_path}}">
          <img src="/static/edit16.png">
        </a>
        {{ article.published_date|date:"Y-m-j" }}
        <a class="noul" href="{{ article.path }}">{{ article.title }}</a>
    {% endfor %}
    </ul>
  {% else %}
  <p>This blog is empty. (Someone want to fix that?)
  {% endif %}
{% endblock %}
