<!--
<div class="tags">
  <a href="/tags/music/">музыка</a>
</div>
-->

<!--
<tr class="fieldrow">
  <th><label for="id_{{ fieldname }}">
    {{ label }} 
  </label></th>
  <td>
    {{ field }}<br>
    {% if field.errors %}
      <div class="error">{{ field.errors|join:", " }}</div>
    {% endif %}
  </td>
</tr>
-->

<h1 class="{{article.published_class}} visible e2-smart-title">
   	<span class="icons">
		{% if user_info.is_admin %}
			<a href="/admin/article/edit/{{article.id}}?from={{current_path}}" title="Edit article">
				<img src="/static/edit16.png" alt="[edit]">
			</a>
		{% endif %}
   	</span>
   	
	{% if single_article %}
		<!--span class="current">{{ article.title }}</span-->
		<img src="/font?text={{article.title|escape}}" alt="{{article.title|escape}}">
	{% else %}
		<a href="{{article.path}}">
			<!--span class="current">{{ article.title }}</span-->
			<img src="/font?text={{article.title|escape}}" alt="{{article.title|escape}}">
		</a>
	{% endif %}
</h1>

<div class="text published visible">
    {{ article.html }}
</div>

<p class="super-h">
    {{ article.published_date|date:"j F Y" }}
    /
    {% for tag in article.tags %}
    	<a href="/tag/{{tag}}">{{tag}}</a>,
    {% endfor %}
</p>

<br>

{% if single_article %}
    {% include "comments.html" %}
{% else %}
    <p>
    <span id="e2-comments-count">
    	<a href="{{article.path}}#comments">
    		{{article.comments_count}} comments
    	</a>
    </span>
    </p>
{% endif %}
