{% extends "admin-base.html" %}

{% block main %}

<style>
div { margin: 10px; }
.row { float: left; }
.new { clear: both; }
</style>

<div class="new row">
	<a href="/admin/tags">Manage tags</a>
</div>

<div class="row new">
	<form method="GET" action="/importdata/">
	<input type="submit" value="Import articles from Opera">
	</form>
</div>

<div class="new row">
	<form method="POST" action="/admin/reset-tag-counters">
	<input type="submit" value="Reset tag counters">
	</form>
</div>

<div class="row">
	<form method="POST" action="/admin/recalculate-tag-counters">
	<input type="submit" value="Recalculate tag counters from articles">
	</form>
</div>

<div class="row">
	<form method="POST" action="/admin/setup-basic-tags">
	<input type="submit" value="Categorize tags (auto)">
	</form>
</div>

<!--
<div class="row">
	<form method="POST" action="/importdata/pre-categorize-tags">
	<input type="submit" value="Pre categorize tags">
	</form>
</div>
-->

{% if dev_server %}
<div class="row new">
	<form method="POST" action="/admin/empty-db" onsubmit="javascript: return confirm('Really empty DB?')">
	<input type="submit" value="Empty DB (danger!)" style="background:#f00;">
	</form>
</div>
{% endif %}

{% endblock %}