<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{% block title %}{% endblock %}</title>
<!--
<link rel="stylesheet/less" href="/static/style.less" type="text/css" />
<script src="/static/less-1.0.21.min.js"></script>
-->
<link href="/static/style.less.css" type="text/css" rel="stylesheet"/>
<link href="/static/main.css" type="text/css" rel="stylesheet"/>
 
<style type="text/css" media="screen">
</style>
 
</head>
<body>
 
<div class="row top">
	<div class="width_2">
		<p>&nbsp;</p>
	</div>
	<div class="width_10">
		<div class="row">
			<div class="width_7">
				<h1><a href="/">Soviet Rare Groove</a></h1>
			</div>
			<div class="width_3" style="padding-top:38px; white-space:nowrap;">
				<input class="search" type="text" value="search"/>
			</div>
		</div>
		<div class="about">
			<!--
			A blog about groovy, funky, soulful, beat, twist and psych sides of music produced
			in&nbsp;USSR during the&nbsp;period of 1965—85.
			Feel free to comment, ask and supply rare stuff / <a href="#">mail@sovietgroove</a>
			-->
	    	<a href="#">Funk</a>,
	    	<a href="#">jazz</a>,
	    	<a href="#">psyche</a>,
	    	<a href="#">progressive</a>,
	    	<a href="#">disco</a>,
	    	<a href="#">electro</a>,
	    	<a href="#">shake</a> and the
	    	<a href="#">rest</a> cool music from USSR of the
	    	<a href="#">60's</a>,
	    	<a href="#">70's</a> and
	    	<a href="#">80's</a>.
		</div>
	</div>
</div>

<div class="row below_top">
	<div class="width_2">
		<div class="all_tags">
	    <ul>
		<li><a href="#">Russia</a></li>
	    <li><a href="#">Ukraine</a></li>
	    <li><a href="#">Moldova</a></li>
	    <li><a href="#">Belarus</a></li>
	    </ul>
	    
	    <ul>
	    <li><a href="#">Armenia</a></li>
	    <li><a href="#">Azerbaijan</a></li>
	    <li><a href="#">Georgia</a></li>
	    </ul>
	    
	    <ul>
	    <li><a href="#">Estonia</a></li>
	    <li><a href="#">Latvia</a></li>
	    <li><a href="#">Lithuania</a></li>
	    </ul>
	    
	    <ul>
	    <li><a href="#">Kazakstan</a></li>
	    <li><a href="#">Tajikistan</a></li>
	    <li><a href="#">Turkmenia</a></li>
	    <li><a href="#">Uzbekistan</a></li>
	    <li><a href="#">Kyrgyzstan</a></li>
	    </ul>
	    </div>
	</div>
	<div class="width_8">
		{% block main %}{% endblock %}
	</div>
    <div class="width_2"><pre>
    Discographies
    of soviet artists

    Melodia vinyl catalog
    the most complete, ver. 8

    Obscured little beasties
    many baltic vinyl rips

    Ретро Grad
    unsorted soviet vinyl

    Skameikin
    unsorted soviet vinyl

    Plastinka.org
    unsorted soviet vinyl

    Russian rock
    soviet garage in particular

    Funk Petersburg
    major russian funk/soul forum

    Ensembles of USSR (ВИА)
    amazing online collection

    Melodija
    a soviet vinyl crate digger*

    Forum “music80”
    80's tape rips

    Soviet grooves community
    registration required

    Soviet grooves at Musicdawn
    among all the black funk

    Orbita Stereo
    a soviet groove podcast

    Valdas &amp; Dingo
    a hugh collection of baltic music

    Estonian progrock
    an encyclopaedia

    Melodiya ensemble / Мелодия
    full discography

    Soviet funk
    single tracks

    My video channel
    SG in motion

    Krugozor magazine
    журнал Кругозор

    Soviet Grooves
    at mixcloud.com

    Re-edits
    at soundcloud.com
    </pre></div>
</div>
 
<div class="row">
	<div class="width_2"><p>
		{% if user_info.user %}
			admin:{{user_info.is_admin}} <a href="{{user_info.logout_url}}">logout</a>
		{% else %}
			<a href="{{user_info.login_url}}">login</a>
		{% endif %}
	</p></div>
	<div class="width_10"><p>
		2009&mdash;2011 copyleft<br/>
		mail@sovietgroove.com
	</p></div>
</div>

</body>
</html>