	<div class="pagination">
		<div>
		{% if prev_page_url %}
		  <a href="{{prev_page_url}}">Fresher</a> &larr;
		  <link rel="prev" href="{{prev_page_url}}" id="prev-link" />
		{% else %}
		  Fresher &larr;
		{% endif %}
		Ctrl
		{% if next_page_url %}
		  &rarr; <a href="{{next_page_url}}">Older</a>
		  <link rel="next" href="{{next_page_url}}" id="next-link" />
		{% else %}
		  &rarr; Older
		{% endif %}
		</div>
		<div>
		Page {{current_page_1}} of {{pages_total}}
		</div>
	</div>
