{% extends "base.html" %}

{% block title %}
Archive - {{defs.BLOG_NAME}}
{% endblock%}

{% block main %}
  <h1><a href="/archive/">Complete archive</a></h1>
  {% if articles %}
    <ul class="archive">
    {% for article in articles %}
      <li>
{% if user_info.is_admin %}
        <a href="/admin/article/edit/{{article.id}}?from={{current_path}}">
          <img src="/static/edit16.png"></a>
{% endif %}
        {{ article.published_date|date:"Y-m-d" }}
        <a class="noul" href="{{ article.path }}">{{ article.title }}</a>
    {% endfor %}
    </ul>
  {% else %}
  <p>This blog is empty. (Someone want to fix that?)
  {% endif %}
  
	{% if not single_article %}
		{% include "pagination.html" %}
	{% endif %}
	
{% endblock %}
