<div class="article">

		<h1 id="article_header_{{article.id}}" class="{{article.published_class}}">
			{% if single_article %}
				<span></span>
				{{ article.title|escape }}
			{% else %}
				<a href="{{article.path}}">
					<span></span>
					{{ article.title|escape }}</a>
			{% endif %}
{% if user_info.is_admin %}
			<a href="/admin/article/edit/{{article.id}}?from={{current_path}}">
				<img src="/static/edit16.png" alt="[edit]" border="0">
			</a>
{% endif %}
		</h1>
		<script>
		//adjustHeader("article_header_{{article.id}}")
		</script>

	    {% for p in article.complex_html.before %}
		<p>{{ p|typographus }}</p>
		{% endfor %}
		
		{% if article.complex_html.middle %}
			{% include "article-clever.html" %}
		{% endif %}
			
	    {% for p in article.complex_html.after %}
		<p>{{ p|typographus }}</p>
		{% endfor %}
		
		</p>
    	<!--
		<div class="row">
    		<div class="width_2">
    			<img src="/static/cover.jpg" width="140"/>
    		</div>
    		<div class="width_6">
    			<div class="row">
    				<div class="width_2 tracks">
						<p>
						<a href="#">A1. Mediniai Ratai</a>
						<br/>A2. As - Berzas
						<br/>A3. Ateisiu Tylia Nakti
						<br/><a href="#">A4. Saule</a>
						<br/>A5. Uzmirstoji taure
						</p>
    				</div>
    				<div class="width_2 tracks">
						<p>
						B1. Rudenio pasaka
						<br/>B2. Svajoniu Vygej
						<br/>B3. Zuvedra
						<br/>B4. Vinguriavo Takelis
						<br/>B5. Vasara
						</p>
    				</div>
    			</div>
    			<div class="row">
    				<div class="width_6 info">
    					<p>
						Title: Mindaugo Tamošiūno Kūriniai
						<br/>Written by M. Tamošiūnas
						<br/>Performed by Oktava
						<br/>Soloists: V. Petrušonis (A side, male), S. Bagdonaitė (B side, female)
						<br/>Melodiya LP C30-04787-88
						</p>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="width_1"><p>
			</p></div>
    		<div class="width_7"><p class="download">
				Download 227 MB, flac:
				<br/><a href="#">http://rapidshare.com/files/456995370/Oktava-1974-Mindaugo-Tamosiuno-Kuriniai.zip</a>
				<br/><a href="#">http://narod.ru/disk/9930805001/Oktava-1974-Mindaugo-Tamosiuno-Kuriniai.zip.html</a>
			</p></div>
    	</div>
    	-->

	    <p class="article-meta">
			{{ article.published_date|date:"F j, Y" }}
		</p>
		<p class="article-meta">
			Tags:
			{% for tag in article.tag_objects %}
				<a href="/tag/{{tag.name}}" articles">{{tag.title}}</a>,
			{% endfor %}
	    </p>
	    

{% if single_article %}
    {% include "comments.html" %}
{% else %}
    <p class="article-meta">
		<span id="e2-comments-count">
			<a href="{{article.path}}">
				{{article.comments_count}} comments
			</a>
		</span>
    </p>
{% endif %}

</div>