	<div class="pagination">
	    Articles: &nbsp;&nbsp;
		{% if prev_page_url %}
		  <a href="{{prev_page_url}}">fresher</a> &larr;
		  <link rel="prev" href="{{prev_page_url}}" id="prev-link" />
		{% else %}
		  fresher &larr;
		{% endif %}
		Ctrl
		{% if next_page_url %}
		  &rarr; <a href="{{next_page_url}}">older</a>
		  <link rel="next" href="{{next_page_url}}" id="next-link" />
		{% else %}
		  &rarr; older
		{% endif %}
		
		&nbsp;&nbsp; (Page {{current_page_1}}/{{pages_total}})
	</div>
