<div class="article">

{% if not article.pinned or single_article %}
		<h1 id="article_header_{{article.id}}" class="{{article.published_class}}">
			{% if single_article %}
				<span></span>
				{{ article.title|escape }}
			{% else %}
				<a href="{{article.slug}}">
					<span></span>
					{{ article.title|escape }}</a>
			{% endif %}
{% if user_info.is_admin %}
            <a href="/admin/article/edit/{{article.id}}?from={{current_path}}">
                <img src="/static/edit16.png" alt="[edit]" border="0">
            </a>
{% endif %}
        </h1>
{% endif %}

	    {% for p in article.complex_html.before %}
		<p>{{ p|typographus }}</p>
		{% endfor %}
		
		{% if article.complex_html.middle %}
			{% include "article-clever.html" %}
		{% endif %}
			
	    {% for p in article.complex_html.after %}
		<p>{{ p|typographus }}</p>
		{% endfor %}

{%comment%}
		<div class="row">
    		<div class="width_2">
    			<img src="/static/cover.jpg" width="140"/>
    		</div>
    		<div class="width_6">
    			<div class="row">
    				<div class="width_2 tracks">
						<p>
						<a href="#">A1. Mediniai Ratai</a>
						<br/>A2. As - Berzas
						<br/>A3. Ateisiu Tylia Nakti
						<br/><a href="#">A4. Saule</a>
						<br/>A5. Uzmirstoji taure
						</p>
    				</div>
    				<div class="width_2 tracks">
						<p>
						B1. Rudenio pasaka
						<br/>B2. Svajoniu Vygej
						<br/>B3. Zuvedra
						<br/>B4. Vinguriavo Takelis
						<br/>B5. Vasara
						</p>
    				</div>
    			</div>
    			<div class="row">
    				<div class="width_6 info">
    					<p>
						Title: Mindaugo Tamošiūno Kūriniai
						<br/>Written by M. Tamošiūnas
						<br/>Performed by Oktava
						<br/>Soloists: V. Petrušonis (A side, male), S. Bagdonaitė (B side, female)
						<br/>Melodiya LP C30-04787-88
						</p>
    				</div>
    			</div>
    		</div>
		</div>

		<p>
		Download VBR, 61 MB:<br>
		<a href="#" class="dl_button_x">rapidshare.com</a> /
		<a href="#" class="dl_button_x">savefrom.net</a> /
		<a href="#" class="dl_button_x">narod.ru</a>
		</p>
{%endcomment%}
		
{% if not article.pinned %}
	    <p class="article-meta">
			{{ article.published_date|date:"F j, Y" }}
		</p>
		<p class="article-meta">
			Tags:
			{% for tag in article.tags %}
				<a href="tag/{{tag}}" class="tag">{{tag}}</a>
			{% endfor %}
	    </p>
{% endif %}

&nbsp;<br>

{% if single_article %}
{% include "../disqus.html" %}
{% endif %}

{%comment%}
{% if single_article %}
    {% include "comments.html" %}
{% else %}
    <p class="article-meta">
		<span id="e2-comments-count">
			<a href="{{article.path}}#comments">
				{{article.comments_count}} comments
			</a>
		</span>
    </p>
{% endif %}
{%endcomment%}

</div>