<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={{defs.HTML_ENCODING}}"/>
<title>{% block title %}{{ defs.BLOG_NAME }}{% endblock %}</title>

<link rel="icon" href="/static/favicon.png" type="image/x-icon"/>
<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon"/>

<link rel="alternate" type="application/rss+xml" title="Subscribe to new articles" href="/rss"/>

<!--
<link rel="stylesheet/less" href="/static/style.less.css" type="text/css" />
<script src="/static/less-1.0.21.min.js"></script>
-->
<link href="{% static_resource 'grid-compiled.css' %}" type="text/css" rel="stylesheet"/>
<link href="{% static_resource 'main.css' %}" type="text/css" rel="stylesheet"/>
 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static_resource 'user.js' %}"></script>
<!--
<script type="text/javascript" src="{% static_resource 'admin.js' %}"></script>
-->

</head>
<body>

{%comment%}
{% if defs.PRODUCTION or defs.DEVSERVER %}
<p class="important-notification i18n">
	<span lang="en">
		The site is under testing now. You could <a href="{{defs.EXTERNAL_FEEDBACK_LINK}}">submit bugs and feedback</a>.
	</span>
	<span lang="ru">
		Сайт тестируется. <a href="{{defs.EXTERNAL_FEEDBACK_LINK}}">Сообщить</a> об ошибке либо пожелании.
	</span>
	Version {{defs.APP_VERSION}}
</p>
{% endif %}
{%endcomment%}

<div class="row top">
	<div class="width_2">
		<a href="/"><img class="logo" src="{% static_resource 'logo-transp.png' %}" alt="Soviet Groove" border="0"/></a>
	</div>
	<div class="width_7">
		<div class="row">
			<!--
			<div class="width_7">
				<h1><a href="/"><span></span>Soviet Rare Groove</a></h1>
			</div>
			<div class="width_3" style="padding-top:38px; white-space:nowrap;">
				<input class="search" type="text" value="search"/>
			</div>
			<h1><a href="/">Soviet Rare Groove</a></h1>
			-->
			<div class="width_6">
				<!--
				<h1><a href="/"><span></span>Soviet Rare Groove</a></h1>
				-->
{% comment %}
				<h1>
					<a href="/">Soviet Rare Groove</a>
					<sup><a href="/rss">RSS</a></sup>
{% if user_info.is_admin %}
					<small>
						/ <a href="/admin/article/new">add article</a>,
						  <a href="/admin/">admin</a>
					</small>
{% endif %}
				</h1>
{% endcomment %}
			</div>
{% comment %}
			<div class="width_4">
				<input class="search" type="text"/>
			</div>
{% endcomment %}
		</div>
		<div class="row about">
			<div class="width_6">

{% blog_tag "funk" "Funk" %},
{% blog_tag "jazz" %},
{% blog_tag "psychedelic" %},
{% blog_tag "progressive" %},
{% blog_tag "disco" %},
{% blog_tag "electro" %},
{% blog_tag "shake" %} and the
rest cool music from USSR of the
{% blog_tag "60s" "60's" %},
{% blog_tag "70s" "70's" %} and
{% blog_tag "80s" "80's" %}.

<!--
&nbsp;&nbsp; <a href="/tag"><code>&lt;all-tags/&gt;</code></a>
&nbsp;&nbsp; <a href="/rss">RSS</a>
-->

	    	</div>
		</div>
	</div>
	<div class="width_3">
		<input style="width:96%;" class="search" type="text" placeholder="Search not available yet"/>
	</div>
</div>

<div class="row below-top">

	<div class="width_2">
		{% include "tag-sidebar.html" %}

{% if user_info.is_admin %}
		<div class='sidebar-panel sidebar-tags'>
		<ul>
			<li class="title">Admin:</li>
			<li><a href="/admin/article/new">add article</a></li>
			<li><a href="/admin/">admin</a></li>
			<li><a href="/rss" style="font-variant:small-caps;">rss</a> (<a href="/rss?format=plain">plain</a>)</li>
			{% if defs.DEVSERVER %}
			<li><a href="http://www.sovietgroove.com/">production &uarr;</a></li>
			{% else %}
			<li><a href="http://localhost/">dev server</a></li>
			{% endif %}
			<li><a href="{{user_info.logout_url}}"><s>logout</s></a></li>
		</ul>
		</div>
{% endif %}		

	</div>
	
	<div class="width_8">
		{% block main %}{% endblock %}
	</div>

    <div class="width_2">
    {%comment%}
    {% include "external-links.html" %}
    {%endcomment%}
    </div>
</div>

<div class="row bottom">
	<div class="width_2"><p>
		&nbsp;
	</p></div>
	<div class="width_4"><p>
		{% link "mailto:mail@sovietgroove.com" %}<br/>
	</p></div>
	<div class="width_3"><p>
		&nbsp;
		<!--
		<a href="/archive/">archive</a> &nbsp; <a href="/tag/">tags</a>
		-->
	</p></div>
</div>

{%comment%}
{% if defs.PRODUCTION %}
	{% include "../googleanalytics.html" %}
{% endif %}
{%endcomment%}

{%comment%}
{% include "../feedback.html" %}
{%endcomment%}

{%comment%}
{% profiler_includes %}
{%endcomment%}
</body>
</html>