{% extends "base.html" %}

{% block title %}
	{% if single_article %}
		{{single_article.title|escape}} - Soviet Rare Groove
	{% else %}
		Soviet Rare Groove
	{% endif %}
{% endblock %}


{% block main %}

	{% if paging_title %}
		<p>{{ paging_title|typographus|safe|escape }}</p>
	{% endif %}

	<ul class="archive">
	{% for article in articles %}
		<li><em class="date">{{article.meta.date.strftime("%Y")}}</em> <a href="../{{article.meta.slug}}">{{article.meta.title|typographus}}</a>
	{% endfor %}
	</ul>
  
{% endblock %}