{% if single_article %}
<h2>
	{{ article.title }}
	<a href="/admin/article/edit/?id={{article.id}}">[edit]</a>
</h2>
{% else %}
<h2>
	<a href="{{ article.path }}">{{ article.title }}</a>
	<a href="/admin/article/edit/?id={{article.id}}">[edit]</a>
</h2>
{% endif %}

<p>{{ article.published_when|date:"j F Y" }} &nbsp;/&nbsp; {{ article.tags|join:", " }}</p>
{{ article.html }}

{% if article.draft %}
<p>It's just a draft.</p>
{% endif %}

<!--
<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'example'; // required: replace example with your forum shortname
	var disqus_developer = 1;

	// The following are highly recommended additional parameters. Remove the slashes in front to use.
	// var disqus_identifier = 'unique_dynamic_id_1234';
	// var disqus_url = 'http://example.com/permalink-to-page.html';

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->

{% if single_article %}
	<p>
	<b>{{article.comments_count}} comments:</b>
	{% for comment in article.comment_set %}
		<p>
		Author: {{comment.author}}<br>
		Text: {{comment.text}}
		</p>
	{% endfor %}
	</p>

	Your comment:<br>
	<form method=POST action="/comment/add/{{article.id}}">
	<input name="author"><br>
	<textarea name="text"></textarea><br>
	<input type="submit" value="Add comment">
	</form>
{% else %}
    <p>{{article.comments_count}} comments</p>
{% endif %}
