<!DOCTYPE html>
<html><head>



<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<link rel="stylesheet" type="text/css" href="/static/main.css">
<link rel="stylesheet" type="text/css" href="/static/main_002.css">

<link rel="alternate" type="application/rss+xml" title="Soviet Rare Groove" href="/rss/">

<link rel="e2-theme-image" id="e2-i-loading-spinner" href="/static/loading-spinner.gif">

<meta name="viewport" content="width=1024">

<meta name="robots" content="index, follow">

<title>Xxxxxxxxxxxxxxx</title>

</head>

<body>

<div style="position: fixed; left: 0px; top: 0px; width: 100%; height: 1px; background: url(&quot;system/theme/images/loading-bar.gif&quot;) repeat-x scroll left center transparent; opacity: 0;" id="e2-thinkbar"></div>


<div>

    <div class="top-spacer"></div>

	<div class="user-picture">
	  <a href="/"><img src="/static/userpic.jpg" alt=""></a>
	</div>


	<!-- search box -->
	<div class="form-search">
		<form id="e2-form-search" class="e2-enterable" action="/search/" method="post">
			<div>
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody><tr valign="middle">
					<td align="right"><img class="loupe" src="/static/search.gif" alt="Поиск" onclick="with (document.getElementById ('query')) { focus (); select () }" align="absmiddle" height="16" width="16"></td>
					<td width="100%">
					<input style="width: 100%;" class="text" name="query" id="query" type="search">
					</td>
					<td><input class="enter" src="/static/enter.gif" alt="Найти" align="absmiddle" height="16" type="image" width="16"></td>
				</tr>
				</tbody></table>
			</div>
		</form>
		<p>&nbsp;</p>
	</div>


	<div class="blog-title-and-description">
	  <h1>
		<a href="/"><span id="e2-blog-title">Soviet Rare Groove</span></a> 
			<a class="rss-link" style="" href="/rss/">RSS</a>
	  </h1>
	  <p><span id="e2-blog-description">
		A blog about groovy, funky, jazzy, soulful, beat, easy, twist and psych sides of music produced in USSR during the period of 1965&ndash;85.
	  </span></p>
	</div>

    <div class="top-line"></div>

</div>

<div class="clear"></div>

<div class="sidebar">
	<div class="sidebar-element">
		<!--h2>Styles</h2-->
		<ul class="links-list">
		<li><a href="#">jazz</a></li>
		<li><a href="#">garage&ndash;beat</a></li>
		<li><a href="#">pop</a>, <a href="#">disco</a></li>
    	<li><a href="#">easy</a></li>
    	<li><a href="#">shake&ndash;twist</a></li>
    	<li><a href="#">psyche</a>, <a href="#">prog</a></li>
    	<li><a href="#">electro</a></li>
		</ul>
	</div>
    <div class="sidebar-element">
        <ul class="links-list">
		<li><a href="#">60's</a>, <a href="#">70's</a>, <a href="#">80's</a></li>
        </ul>
	</div>
    <div class="sidebar-element">
		<ul class="links-list">
		<li><a href="#">mixes</a>, <a href="#">best</a></li>
		</ul>
	</div>
    <div class="sidebar-element">
		<ul class="links-list">
		<li><a href="#">russia</a></li>
    	<li><a href="#">estonia</a></li>
		<li><a href="#">latvia</a></li>
		<li><a href="#">lithuania</a></li>
		<li><a href="#">armenia</a></li>
		<li><a href="#">azerbaijan</a></li>
		<li><a href="#">georgia</a></li>
    	<li><a href="#">ukraine</a></li>
		<li><a href="#">moldova</a></li>
		<li><a href="#">belarus</a></li>
    	<li><a href="#">tajikistan</a></li>
		<li><a href="#">turkmenia</a></li>
		<li><a href="#">uzbekistan</a></li>
		<li><a href="#">kazakstan</a></li>
    	</ul>
	</div>

	<div class="sidebar-element">
		<p><a href="/selected/">Избранное</a> <img src="/static/star-stroke.gif" class="icon" alt="" height="16" width="17"></p>
	</div>
</div>








<div class="main-content">
	<div class="only note">
    	{% block main %}{% endblock %}
	</div>
</div>

<div class="clear"></div>

<div class="bottom-line"></div>


<div class="visual-login">
login
</div>

<div class="copyrights icons">
©&nbsp;<span id="e2-blog-author">Илья Бирман</span>, 2002<span class="range">...</span>2011 
</div>

<div class="engine-info">
engine-info
</div>

<div class="bottom-spacer"></div>

</body></html>