<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ blog_name }}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"/>

</head>

<!-- Google Analytics -->
{% ifequal host "google" %}
<!--
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5189686-1");
pageTracker._trackPageview();
</script>
-->
<!-- End Google Analytics -->
{% endifequal %}

<body>
<div id="container">

    <h1>
      <a href="{{ canonical_blog_url }}">{{ blog_name }}</a>
      <a href="{{ rss2_path }}" class="button"><img src="/static/rss2-small.gif" width="49" height="15" border="0"></a>
    </h1>

    <p>
        A blog about groovy, funky, soulful, beat, twist and psych sides of music produced in USSR during the period of 1965-85.
    </p>

    <!--
    <p>
        {% block tag_list %}{% endblock %}
    </p>
    -->

    <div id="articles_container">
      {% block main %}{% endblock %}
    </div>

    <!--<div id="right-margin">
      {% block recent_list %}{% endblock %}
      {% block date_list %}{% endblock %}
    </div>-->

</div>
</body>
</html>
